$p-green:#3ec6bc;
$p-green2:#48A9C0;
$p-yellow:#FFF200;
$p-orange:#F6BC18;
$red:#F91D0B;
$gray:#F7F7F7;
$shadow1:0px 3px 12px 0px rgba(0, 0, 0, 0.16);
$shadow2:1px 3px 12px 4px rgba(0, 0, 0, 0.26);



.tns-outer{
    .tns-controls,.tns-nav,button{
        display:block;
    }
}

.comment-slider{}